﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="POC.DeployToIIS.NET451._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h2>POC Deploy IIS - WebForms .NET 4.5.1</h2>
        <p class="lead">
            Este é um projeto para fins de demonstração apenas.
        </p>
        <h3>Demonstração para Guilherme!!!</h3>
    </div>

</asp:Content>
